@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #5372f0;
}

.wrapper {
  width: 605px;
  background: #fff;
  border-radius: 15px;
  padding: 30px 30px 25px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);

  &__title {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
  }

  &__content {
    margin: 35px 0;

    .quote-area {
      display: flex;
      justify-content: center;

      i {
        font-size: 15px;

        &:first-child {
          margin: 3px 10px 0 0;
        }

        &:last-child {
          display: flex;
          margin: 0 0 3px 10px;
          align-items: flex-end;
        }
      }

      &__quote {
        font-size: 22px;
        text-align: center;
        word-break: break-all;
      }
    }

    .author {
      display: flex;
      font-size: 18px;
      margin-top: 20px;
      font-style: italic;
      justify-content: flex-end;

      span:first-child {
        margin: -7px 5px 0 0;
        font-family: monospace;
      }
    }
  }

  .button {
    border-top: 1px solid #ccc;

    .next-quote {
      border: none;
      color: #fff;
      outline: none;
      font-size: 16px;
      cursor: pointer;
      padding: 13px 22px;
      border-radius: 30px;
      background: #5372f0;
    }

    .loading {
      opacity: 0.7;
      pointer-events: none;
    }
  }
}

header,
content:where(i, p, span) {
  color: #202842;
}
